:root{
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --background-color: #101829;
  --primary-color: #11e1c2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.btn{
  position: relative;
  padding: 8px 12px;
  background: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}



.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: changeColor linear 0.2s;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

@keyframes changeColor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-body {
  margin: auto;
  min-width: 400px;
  padding: 30px;
  background-color: var(--white-color);
  border-radius: 10px;
  position: relative;
  top: -100px;
  animation: slideFromTop ease-in 0.2s;
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
.modal.modal-active {
  display: flex;
}
.btn.btn-cancel {
  background-color: #ccc;
  color: #333;
}

.form-group.invalid input {
  border: 1px solid red;
}

.form-message {
  display: inline-block;
  margin-top: 5px;
  color: red;
}

